doctype html
html
  include ./includes/head.jade
  body
    div#main
      h1#title #{title} <a href="/"><i class="fa fa-home"></i></a>
      p
        i(class="fa fa-calendar")
        pre #{calString}
      div#datePicker
        label Year
        input#year(type='number' min='1753' max='9999' placeholder='#{new Date().getFullYear()}')
        br
        label Month
        input#month(type='number' min='1' max='12' placeholder='#{new Date().getMonth() + 1}')

        p#dateSubmit Submit



    include ./includes/scripts.jade
