doctype html
html
  head
    title= title
    link(rel='stylesheet', href='./stylesheets/styles.css')
  body
    h1 Welcome to #{title}
    p Today is #{date.toLocaleString()}
    img(src="./images/guribu.jpg")

    script(src='./vender/jquery/dist/jquery.min.js')
    script(src='/scripts/client.js')
