doctype html
html
  include ./includes/head.jade
  body
    div#main
      h1#title Welcome to #{title}
      p.spin.massive
        a(href="/cal")
          i.fa.fa-calendar
      p <i class="fa fa-clock-o"></i> #{date.toLocaleString()}
      h4 About
      p.
       This is a student project to replicate the command line 'cal' program functionality using Node.js. <br>
       You can try it out in your shell by cloning the <a target='blank' href="https://github.com/AJPcodes/node-cal"> repo <i class="fa fa-github-square"></i></a>. <br>
       Or you can test it <a href="/cal">here.</a>
      p The top story on CNN is <a href='#{topStory.url}''>#{topStory.title}</a>


    include ./includes/scripts.jade


