doctype html
html
  include ./includes/head.jade
  body
    div#main
      h1#title
      h2 Send us a photo!

      form(method='POST', enctype='multipart/form-data')
        .form-group
          label Name
          input(type='file', accept='image/\*',placeholder='Name', name='image')
        .form-group
          label Upload
          input(type='submit', placeholder='Upload')


    include ./includes/scripts.jade
